body {
  font-family: "Poppins", sans-serif;
  /* background: radial-gradient(circle, #ff6f91, #ff758c, #ff7eb3); */
  /* background: radial-gradient(circle, #2dcdaa, #2acba8, #2bcba8); */
  background: linear-gradient(to right, #d4fc79, #96e6a1, #a1c4fd);
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container header {
  position: absolute;
  top: 11px;
  /* left: 80px; */
  /* font-size: 21px;
  text-transform: uppercase; */
/* text-align: center;  */
/* margin-top: 50px;  */
/* font-family: 'Georgia', serif;  */
/* font-size: 14px;  */
/* font-family: 'Great Vibes', cursive; */
/* font-size: 19px;  */
/* color: #888; */
}
.container {
  position: relative;
  /* border: 2px solid red; */
  /* background: linear-gradient(135deg, #1a1a2e, #16213e); */
  /* background: linear-gradient(135deg, #000000, #434343, #ffd700); */
  /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
  /* background: linear-gradient(135deg, #ff6a00 0%, #ee0979 100%); */
  /* background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); */

  /* background: linear-gradient(135deg, #ff758c, #ff9eac); */
  /* background: linear-gradient(135deg, #2acba8, #2bcba8); */
  /* background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fadadd); */
  background: linear-gradient(to right, #0f0f0f, #2e2e2e, #7f8c8d);
  /* background: linear-gradient(135deg, #360033, #0b8793, #00c9ff); */
  /* background: linear-gradient(to right, #fceabb, #f8b500, #e97824); */
  /* background: linear-gradient(to right, #ffe29f, #ffa99f, #ff719a); */
  /* background: linear-gradient(90deg, #a1c4fd, #c2e9fb, #fdbb2d); */
  /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
  /* background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00); */
  /* background: linear-gradient(135deg, #ffecd2, #fcb69f, #f5deb3); */
  /* background: linear-gradient(45deg, #614385, #516395, #ff9a9e); */
  /* background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00); */
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8), 0 0 25px rgba(255, 105, 180, 0.8);
  width: 450px;
  /* text-align: center; */
  animation: fadeIn 1.2s ease-in-out, glowPulse 4s infinite;
}
.container h3 {
  color: #ffe4e1;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowPulse {
  0%,
  100% {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8),
      0 0 25px rgba(255, 105, 180, 0.8);
  }

  50% {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9), 0 0 40px rgba(255, 182, 193, 1);
  }
}

h1 {
  font-size: 32px;
  margin-bottom: 25px;
  /* background: linear-gradient(90deg, #ff6f91, #ff9eac); */
  /* background: linear-gradient(90deg, #2acba8, #1cc7a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 1.2s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

label {
  font-size: 18px;
  font-weight: 500;
  color: #eaeaea;
  margin-bottom: 12px;
  display: block;
  animation: fadeIn 1.2s ease-in-out;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #4e54c8, #8f94fb); */
  /* background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%); */
  /* background: linear-gradient(135deg, #1e3c72, #2a5298); */
  /* background: linear-gradient(135deg, #7efff5, #c86fc9, #fdeff9); */
  /* background: linear-gradient(to right, #5f6caf, #b8c6db, #dfe9f3); */
  /* background: linear-gradient(45deg, #b8ff00, #3a86ff, #ff006e); */
  /* background: linear-gradient(to right, #0f2027, #2c5364, #ffd166); */
  /* background: linear-gradient(90deg, #dad4ec, #f3e7e9, #c9d6ff); */
  /* background: linear-gradient(to right, #fc8eac, #fdd835, #ff6f61); */
  /* background: linear-gradient(135deg, #003973, #e5e5be, #bdc3c7); */
  /* background: linear-gradient(to right, #00ff87, #60efff, #f9f871); */
  /* background: linear-gradient(120deg, #ff512f, #dd2476, #6a11cb); */
  background: linear-gradient(to right, #3e5151, #decba4, #d7ccc8);
  /* background: linear-gradient(45deg, #b993d6, #8ca6db, #2e1a47); */
  /* background: linear-gradient(to right, #00d2ff, #3a7bd5, #b8f2e6); */
  color: #ffffff;
  font-size: 16px;
  transition: box-shadow 0.4s ease, transform 0.3s ease;
  animation: slideIn 1.2s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(143, 148, 251, 0.8);
  transform: scale(1.05);
}
/* =============== Button Gredient =================== */
.gradient-button {
  position: relative;
  padding: 1rem 2rem;
  border: none;
  /* Background gradient */
  /* background: linear-gradient(135deg, #ff6a00, #ee0979);  */
  /* background: linear-gradient(to right, #d4fc79, #96e6a1, #a1c4fd); */
  background: linear-gradient(to right, #3e5151, #decba4, #d7ccc8);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.2rem;
}

.gradient-button::before {
  content: 'Shorten';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Text gradient */
  /* background: linear-gradient(90deg, #00f2fe, #4facfe); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(to right, #0f0f0f, #2e2e2e, #7f8c8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.gradient-button span {
  opacity: 0; /* Hide actual text so only pseudo-text shows */
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.2s ease-in-out;
}
/* ================================== */
/* button {
  padding: 15px 30px;
  background: linear-gradient(to right, #d4fc79, #96e6a1, #a1c4fd); */
  /* background: linear-gradient(135deg, #ff758c, #ff9eac); */
  /* background: linear-gradient(135deg, #2acba8, #2bcba8); */
  /* background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fadadd); */
  /* background: linear-gradient(to right, #0f0f0f, #2e2e2e, #7f8c8d); */
  /* background: linear-gradient(135deg, #360033, #0b8793, #00c9ff); */
  /* background: linear-gradient(to right, #fceabb, #f8b500, #e97824); */
  /* background: linear-gradient(to right, #ffe29f, #ffa99f, #ff719a); */
  /* background: linear-gradient(90deg, #a1c4fd, #c2e9fb, #fdbb2d); */
  /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
  /* background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00); */
  /* background: linear-gradient(135deg, #ffecd2, #fcb69f, #f5deb3); */
  /* background: linear-gradient(45deg, #614385, #516395, #ff9a9e); */
  /* background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00); */
  /* color: #ffffff; */
  /* background: linear-gradient(to right, #0f0f0f, #2e2e2e, #7f8c8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 1.2s ease-in-out;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
  animation: fadeIn 1.2s ease-in-out;
} */

/* box-shadow: 0 0 20px rgba(255, 182, 193, 1); */
/* button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #2bcba8;
} */

.url-design {
  /* margin-top: 20px; */
  /* font-size: 1rem; */
  /* color: #ffe4e1; */
  animation: fadeIn 1.2s ease-in-out;
  /* border: 1px solid #f0f0f0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 11px; */
  /* background-color: #0e876d; */
}
/* .url-design p { */
  /* background-color: #1cc7a2; */
  /* font-size: 1.2rem;
  font-weight: 700;
  color: #ffe4e1;
  border-right: 2px solid #f0f0f0;
  padding: 0 11px; */
/* } */
.url-design span i {
  font-size: 1.5rem;
  cursor: pointer;
}

.url-design p {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #eaeaea;
  /* font-size: 16px;
  color: #ffffff; */
  animation: fadeIn 1.2s ease-in-out;
}

a {
  /* color: #ffddc1; */
  background: linear-gradient(to right, #76b852, #8dc26f, #f0ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #ffe4e1;
}
  .home-button {
    display: inline-block;
    padding: 10px 15px;
    /* font-size: 16px; */
    /* background-color: #4CAF50; */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
   font-size: 1.5rem;
   cursor: pointer;
  }
.btn-group{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
